/* основний колір тексту #212121;
   другорядний колір тексту #757575; 
   основний колір та лого #2196F3;
   колір лого #000000;
   білий колір  #FFFFFF;
   колір в хедер для контактів з прозорістю: rgba(255, 255, 255, 0.6);
   background-color footer:#2F303A;
   колір для заливки секції команди #F5F4FA;
   колір риски під header #ECECEC
   рамка для портфоліо карток #EEEEEE
   колір для активної кнопки в hero #188CE8
   колір прозорості на картинки rgba(47, 48, 58, 0.4)
   основний колір для секції клієнтів #AFB1B8
*/
:root {
    --main-color-text:#212121;
    --text-color:#757575;
    --accent-color: #2196F3;
    --white-color:#FFFFFF;
    --text-logo:#000000;
    --bcg-footer:#2F303A;
    --color-transparency:rgba(255, 255, 255, 0.6);
    --color-section: #F5F4FA;
    --color-header-bottom: #ECECEC;
    --color-border-portfolio: #EEEEEE;
   --color-activ-btn: #188CE8;
   --color-gradient:rgba(47, 48, 58, 0.4);
   --color-costomer: #AFB1B8;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--main-color-text);
    background-color: var(--white-color);
}

ul,
h1,
h2,
h3,
p{
    margin: 0;
    padding: 0;
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.section:nth-child(2n+4) {
    background-color: var(--color-section);
}

.container {
    max-width:1200px;
    padding:0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.header{
    border-bottom:1px solid var(--color-header-bottom);
}

.header__container,
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: var(--text-logo);
    text-decoration: none;
}

.logo__el-web {
    color: var(--accent-color);
}

.header__logo{
    margin-right: 93px;
}

.footer__logo {
    margin-bottom: 20px;
    color: var(--white-color);
}

.page-nav__list {
    display: flex;
    gap: 50px;
}

.page-nav__link,
.contact__link{
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 31px;

    font-weight: 500;
    letter-spacing: 0.02em;
    align-items: center;
    color:inherit;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav__link:hover,
.page-nav__link:focus,
.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.page-nav__link--current {
    position: relative;
    color: var(--accent-color);
}

.page-nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

.contact {
    display: flex;
    gap: 30px;
}

.contact__link{
    color: var(--text-color);
    display: flex;
    min-width: 142px;
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contact__icon--mail {
    width: 16px;
    height: 12px;
}

.contact__icon--tel {
    width: 10px;
    height: 16px;
}

/* Main page Studio */

/* Hero */
.section__bg-cover{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0px;

    background-image: linear-gradient(var(--color-gradient), var(--color-gradient)), url("../images/bgimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.366; 
    text-transform: uppercase;
    color: var(--white-color);
}

/* button */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 216px;
    max-height: 50px;
    padding: 10px 28px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-activ-btn);
}

/* Preference */

.preference-list {
    display: flex;
    text-align: left;
    gap: 30px;
}

.preference-item {
    max-width: 270px;
}

.preference-img{
 display: flex;
 justify-content: center;
 padding-top: 25px;
 padding-bottom: 25px;
 margin-bottom: 30px;
 background-color: var(--color-section);
}

.preference-icon{
    width: 70px;
    height: 70px;
}

.preference-title {
    margin-bottom: 10px;
    font-size: 14px;
}

.preference-text{
    line-height: 1.71;
    color: var(--text-color);
}

/* Gallery */
.section-gallery{
    padding-top: 0;
}

.section__title{ 
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
}

.gallery-list{
    display: flex;
    justify-content: space-between;
    gap:30px;
}

.gallery-item {
    position: relative;
}

.gallery-item__img{
    display: block;
}

.gallery-item__text{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 27px 5px;

    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--color-gradient);
}

   /* Our team */
.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    border: var(--color-section);
    background-color:var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item__img {
    display: block;
}

.team-item__info{
    padding: 30px;
    font-size: 16px;
    line-height: 1.19;
}

.team-item__title{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.19;
}

.team-item__text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    color:var(--text-color);
}

.socials{
    display: flex;
    justify-content: space-between;
    min-width: 206px;
    gap: 10px;
}

.socials__link{
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    align-items: center;
    
    color: var(--color-costomer);
    border-radius: 44px;
    background-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials__link {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.socials__link:hover,
.socials__link:focus{
color:var(--white-color);
background-color: var(--accent-color);
}

.socials__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* Сostomers */
.costomers-list{
display: flex;
gap: 30px;
}

.costomer-el__link{
    display: flex;
    justify-content: center;
    max-width: 170px;
    padding: 15px 31px;

    border: 1px solid var(--color-costomer);
    border-radius: 4px;
    color: var(--color-costomer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costomer-el__link:hover,
.costomer-el__link:focus{
    color:var(--accent-color);
    border-color: var(--accent-color);
}

.costomer-el__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/* Main page Portfolio */

.filter-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-list__btn {
    min-width: 73px;
    padding: 6px 22px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover,
.filter-list__btn:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.portfolio-card {
    max-width: 370px;
}

.portfolio-card__link{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: block;
    text-decoration: none;
}
.portfolio-card__link:hover,
.portfolio-card__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-card__img {
    display: block;
}

.portfolio-card__descr{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding:24px;
    align-items: center;

    font-size: 18px;
    line-height: 1.56;
    text-align: start;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(0%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__link:hover .portfolio-card__descr,
.portfolio-card__link:focus .portfolio-card__descr {
    transform: translateY(-100%);
    opacity: 1;
}

.portfolio-card__text {
    padding: 20px 24px;
    text-align: left;
    border: 1px solid var(--color-border-portfolio);
    border-top: none;
}

.portfolio-card__title{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}

.portfolio-card__subtitle{
    font-size: 16px;
    line-height: 1.88;
    color:var(--text-color);
}

/* Footer */

.footer{
    background-color: var(--bcg-footer);
    padding: 60px 5px;
}

.footer__container{
    display: flex;
    align-items: baseline;
    gap:70px;
}

.footer-wrap:last-child{
    margin-left: 23px;
}

.address__item+.address__item {
    margin-top: 9px;
}

.address__link {
    display: inline-block;
    min-width: 230px;

    font-style: normal;
    line-height:1.71;
    color: var(--color-transparency);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus{
    color: var(--accent-color);
}

.address__link--white {
    color: var(--white-color);
}

.footer-wrap__title{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
}

.form-field{
    display: flex;
    gap:12px;
}

.form-field__label{
    display: block;
    max-width: 358px;
    width: 100%;
}

.form-field__input{
    display: block;
    min-width: 358px;
    width: 100%;

    padding: 16px;
    color: var(--white-color);
    background-color: transparent;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    outline: none;
}

.form-field__input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-transparency);
}

.footer__btn{
    width: 200px;
}

.form-field--icon{
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill:currentColor;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility:hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 528px;
    max-height: 581px;
    width: 100%;
    height: 100%;
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
    position: absolute;
    right: 8px;
    top: 8px;

    padding: 5px;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
}

.modal__btn-close__icon {
    display: block;
    width: 18px;
    height: 18px;
}

/* Modal form */

.modal-form__title {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.modal-form__item {
    position: relative;
    display: block;
    margin-top: 10px;
    font: inherit;
}


.modal-form__label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.modal-form__input,
.modal-form__textarea{
    display: block;
    width: 100%;
    padding: 11px 41px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__item:focus-within .modal-form__input,
.modal-form__item:hover .modal-form__input{
    border-color: var(--accent-color);
}

.modal-form__item:focus-within .modal-form__textarea,
.modal-form__item:hover .modal-form__textarea {
    border-color: var(--accent-color);
}

.modal-form__textarea {
    padding: 12px 16px;
    margin-bottom: 20px;

    resize: none;
    overflow: auto;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%);

    display: block;
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__item:hover .modal-form__icon,
.modal-form__item:focus-within .modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__item-checbox {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1.71;
    color: var(--text-color);
}

.modal-form__input-chechbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form__icon-check{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    
    fill: transparent;
    border: 1px solid var(--main-color-text);
    border-radius: 2px;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-chechbox:checked + .modal-form__icon-check{
    fill: var(--white-color);
    background-color: var(--accent-color);
    border: 0px solid var(--accent-color);
}

.modal-form__link {
    margin-left: 5px;
    color: var(--accent-color);
}
.modal-form__btn {
    margin-top: 30px;
}